.sideBar {
  text-decoration: none;
  display: block;
  padding-right: 1rem;
  height: calc(100vh - 80px);
  float: left;
  width: 300px;
  background-color: var(--mid-green);
  /* smaller { font-size: 11px; } */
}

.title{
  font-size: 30px;
}

.info {
  font-size: 10px;
}



.post {
  position: relative;
  text-align: center;
  display: inline-block;
  color: white;
  margin: 1rem;
}

.topLeft {
  position: absolute;
  top: 8px;
  left: 16px;
}

.bottomRight {
  position: absolute;
  top: 70px;
  left: 16px;
}

.post p {
  background-color: var(--dark-green);
  padding: 1rem;
  border-radius: 10px;
}

.post img {
  object-fit: contain;
  overflow: clear;
  text-align: center;
  color: white;
  background-color: var(--dark-green);
  border-radius: 20px;
}

.container {
  width: 80%;
  margin: auto;
}

.container h1 {
  text-align: left;
  padding-left: 0;
  margin-left: 0;
}

.topBar {
  display: flex;
  justify-content: space-between;
}

.evolve a {
  color: var(--dark-green);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  width: 140px;
}

.evolve span {
  margin-top: 7px;
}

.evolve {
  margin: 3rem;
}