:root {
  /* old colors */
  --forest: #053B06;
  --lincoln: #0B5D1E;
  --lime: #8De969;
  --cream: #faf3de;
  /* curr colors */
  --mid-green: #DBF0D8;
  --light-green: #F4FDF3;
  --dark-green: #05440d;
  --red: #FF6767;
}

html, body {
  background-color: var(--light-green);
  margin: 0;
  font-family: 'Rubik';
}

.hide {
  display: none!important;
}

h1 {
  color: var(--dark-green);
  margin: 2rem;
  text-align: center;

}

/* FORM STULING */


		/* Styling the Body element i.e. Color,
		Font, Alignment */
		/* body {
			background-color: #f4fdf3;
			font-family: Verdana;
			text-align: center;
		} */

		/* Styling the Form (Color, Padding, Shadow) */
		form {
			background-color: #dbf0d8;
			max-width: 1000px;
			margin: 50px auto;
			padding: 30px 20px;
            border-radius:15px;
		}

		/* Styling form-control Class */
		.form-control {
			text-align: left;
			margin-bottom: 25px;
		}

		/* Styling form-control Label */
		.form-control label {
			display: block;
			margin-bottom: 10px;
		}

		/* Styling form-control input,
		select, textarea */
		.form-control input,
		.form-control select,
		.form-control textarea {
			border: 1px solid #777;
			border-radius: 2px;
			font-family: inherit;
			padding: 10px;
			display: block;
			width: 95%;
		}

		/* Styling form-control Radio
		button and Checkbox */
		.form-control input[type="radio"],
		.form-control input[type="checkbox"] {
			display: inline-block;
			width: auto;
		}

		/* Styling Button */
		.banana {
			background-color: #0b5d1e;
			border: 1px solid #777;
			border-radius: 2px;
			font-family: inherit;
			font-size: 21px;
			display: block;
			width: 100%;
			margin-top: 50px;
			margin-bottom: 20px;
            color:#f4fdf3;
      text-decoration: none;
      color: #f4fdf3;
		}
