.container {
  width: 80%;
  margin: auto;
}

.postContainer {
  width: 70%;
  margin: auto;
}

.postContainer .post {
  display: inline-block;
  width: 50%;
}

.post img {
  object-fit: contain;
  overflow: clear;
  text-align: center;
  color: white;
  background-color: var(--dark-green);
  border-radius: 20px;
}

.post {
  position: relative;
  text-align: center;
  display: inline-block;
  color: white;
  margin-bottom: 2rem;
}

.topLeft {
  position: absolute;
  top: 8px;
  left: 16px;
}

.bottomRight {
  position: absolute;
  top: 70px;
  left: 16px;
}

.post p {
  background-color: var(--dark-green);
  padding: 1rem;
  border-radius: 10px;
}